body{
    margin: 0px !important;
    padding: 0px !important;
}
.red{
    border: 1px solid red;
}
.green{
    border: 1px solid green;
}
.banner{
    background: url(./banner.jpg) center center no-repeat;
    height: 500px;
    padding: 20px;

    .about-sign-in{
        height: 80;
        text-align: right;

        .about , .sign-in{
            text-decoration: none;
            margin-top: 20px;
            display: inline-block;
            padding: 10px 15px;
            text-transform: uppercase;
        }

        .sign-in{
            margin-right: 60px;
            margin-left: 25px;
            border: 2px solid green;
            border-radius: 20px;
            color: green;
        }
    }
    .logo{
        background: url(./hapoERP.png) center center no-repeat;
        height: 80px;
        margin-top: 40px;
    }
    .text{
        text-align: center;
        margin-top: 40px;
        span{
            color: green;
        }
    }
    .btn-start-now{
        text-align: center;
        
        button{
            text-transform: uppercase;
            border: 2px solid green;
            border-radius: 20px;
            color: green;
            padding: 10px 15px;
            margin-top: 20px;
            cursor: pointer;
        }
    }
    .content-center{
        .left , .center,.right{
            width: 33%;
            display: inline-block;
            text-align: center;
            margin-top: 30px;
           
            img{
                width: 30px;
                height: 30px;
            }
            span{
                display: block;
                font-size: 20px;
            }
        }
    }
}
