body {
  margin: 0px !important;
  padding: 0px !important;
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.banner {
  background: url(./banner.jpg) center center no-repeat;
  height: 500px;
  padding: 20px;
}
.banner .about-sign-in {
  height: 80;
  text-align: right;
}
.banner .about-sign-in .about, .banner .about-sign-in .sign-in {
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
}
.banner .about-sign-in .sign-in {
  margin-right: 60px;
  margin-left: 25px;
  border: 2px solid green;
  border-radius: 20px;
  color: green;
}
.banner .logo {
  background: url(./hapoERP.png) center center no-repeat;
  height: 80px;
  margin-top: 40px;
}
.banner .text {
  text-align: center;
  margin-top: 40px;
}
.banner .text span {
  color: green;
}
.banner .btn-start-now {
  text-align: center;
}
.banner .btn-start-now button {
  text-transform: uppercase;
  border: 2px solid green;
  border-radius: 20px;
  color: green;
  padding: 10px 15px;
  margin-top: 20px;
  cursor: pointer;
}
.banner .content-center .left, .banner .content-center .center, .banner .content-center .right {
  width: 33%;
  display: inline-block;
  text-align: center;
  margin-top: 30px;
}
.banner .content-center .left img, .banner .content-center .center img, .banner .content-center .right img {
  width: 30px;
  height: 30px;
}
.banner .content-center .left span, .banner .content-center .center span, .banner .content-center .right span {
  display: block;
  font-size: 20px;
}
